<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynrcc.hrm.dao.DeptDao">
    <sql id="deptCols">
        id,
        name,
        remark
    </sql>

    <resultMap id="Dept" type="com.ynrcc.hrm.model.Dept">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="get" resultMap="Dept">
        SELECT
          <include refid="deptCols"/>
        FROM DEPT_INF
        WHERE ID = #{id}
    </select>

    <select id="count" resultType="Integer">
        SELECT
        COUNT(*)
        FROM DEPT_INF
        WHERE 1=1
        <if test="dept.name != null and dept.name != ''">
            AND name LIKE CONCAT ('%', #{dept.name}, '%')
        </if>
    </select>

    <select id="findDept" resultMap="Dept">
        SELECT
          <include refid="deptCols"/>
        FROM DEPT_INF
        WHERE 1=1
        <if test="dept.name != null and dept.name != ''">
            AND name LIKE CONCAT ('%', #{dept.name}, '%')
        </if>
        <if test="pageModel != null">
            LIMIT #{pageModel.firstLimitParam}, #{pageModel.pageSize}
        </if>
    </select>

    <select id="getAllDept" resultMap="Dept">
        select * from dept_inf
    </select>

    <delete id="delete">
        DELETE FROM DEPT_INF WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE DEPT_INF
        <if test="name != null and name !=''">
            SET name = #{name},
        </if>
        <if test="remark != null and remark !=''">
            remark = #{remark}
        </if>
        WHERE id = #{id}
    </update>

    <insert id="insert">
        INSERT INTO DEPT_INF(
        name,
        remark
        ) VALUES (
        #{name},
        #{remark}
        )
    </insert>
</mapper>