<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynrcc.hrm.dao.EmployeeDao">
    <sql id="employeeCols">
        id,
        d.id AS "dept.id",
        j.id AS "job.id",
        name,
        card_id AS cardId,
        address,
        post_code AS postCode,
        tel,
        phone,
        qq_num AS qqNum,
        email,
        sex,
        party,
        birthday,
        race,
        education,
        speciality,
        hobby,
        remark,
        create_date AS createDate
    </sql>

    <select id="get" resultType="com.ynrcc.hrm.model.Employee">
        SELECT
            <include refid="employeeCols"/>
        FROM employee_inf
        WHERE id = #{id}
    </select>
</mapper>